<section class="modal-overlay" id="overlay">
    <div class="modal" id="modal">
      <div class="modal-header">
  <h3>Delete bike</h3>
  <a href="/" id="close-modal-put">X</a>
      </div>
  
      <div class="modal-body">
         <p>Are you sure delete </p> 
         <div id="btns-del">
             <a id="no" href="/">No</a>
             <a id="yes" href="/remove/<%= bikeDel.id %>">Yes</a>
         </div>
      </div>
    </div>
  
  </section>